contextvars==2.4
diagrams==0.18.0
graphviz==0.13.2
MarkupSafe>=2.1.1
pre-commit==2.15.0
detect-secrets==1.2.0
moto==3.1.4
pytest==7.1.1
coverage==6.4.1
selenium==4.15.1
selenium-wire==4.2.0
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
Werkzeug==3.0.3
jinja2>=2.10,<3.0  # version added manualy to fix dependency-conflicts with diagrams
