{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1597766978824,"hash":"51e01acb00bf22e39249bc2912da25a80a2b8fb5"}