<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="Recevez une notification dès la sortie de votre passeport sans prise de tête :)"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
      integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Mtchoun' mouh</title>
    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"
    />
    <script type="text/javascript">
      $(function () {
        $("#help").popover({
          trigger: "focus",
        });
      });
      $(function () {
        $("#help2").popover({
          trigger: "focus",
        });
      });
      // disable onPaste
      function disablePaste(e) {
        return false;
      }
      // validate data
      function controlFormData(e) {
        e.preventDefault();
        var Namere = /[A-Za-z]{1}[A-Za-z]/;
        if (!Namere.test($("#name-input").val())) {
          //alert("Name can not less than 2 char");
          $("#errorMessage>p").html("Le nom ne peut avoir moins de 2 caractères!");
          $("#errorMessage").modal("show");
          return;
        }
        if ($("#email-input").val() == "") {
          $("#errorMessage>p").html("Veuillez entrer une adresse email valide!");
          $("#errorMessage").modal("show");
          return;
        }
        var reeamil = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,6})?$/;
        if (!reeamil.test($("#email-input").val())) {
          $("#errorMessage>p").html("Veuillez entrer une adresse email valide!");
          $("#errorMessage").modal("show");
          return;
        }

        $("#confirmationModal").modal("show");
      }

      function submitToAPI(e) {
        e.preventDefault();
        var URL = "${url}";

        if ($("#name-input").val() != $("#confirmationName").val()) {
          $("#feedbackName").html("Votre nom ne correspond pas!");
          $("#feedbackName").css("display", "block");
          return;
        }
        if ($("#email-input").val() != $("#confirmationEmail").val()) {
          $("#feedbackEmail").html("Votre adresse mail ne correspond pas!");
          $("#feedbackEmail").css("display", "block");
          return;
        }

        var name = $("#name-input").val();
        var email = $("#email-input").val();
        var data = {
          name: name,
          email: email,
        };

        $.ajax({
          type: "POST",
          url: URL,
          dataType: "json",
          crossDomain: "true",
          contentType: "application/json; charset=utf-8",
          data: JSON.stringify(data),

          success: function () {
            // clear form and show a success message
            $("#errorMessage>p").html(
              "Consultez votre email. Un lien de confirmation vous a été envoyé."
            );
            $("#errorMessage").css("background", "#0f7555");
            $("#errorMessage").modal("show");
            document.getElementById("contact-form").reset();
            //location.reload();
          },
          error: function () {
            // show an error message
            $("#errorMessage>p").html(
              "Nous n'avons malhreusement pas pu vous enregistrer. Veuillez contacter l'<a href=\"https://gitreports.com/issue/fabiolatagne97/mtchoun-mouh\">administrateur </a>. "
            );
            $("#errorMessage").modal("show");
            location.reload();
          },
        });
      }
    </script>
  </head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180638758-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-180638758-1');
  </script>

  <body class="text-center">
    <!--https://aws.amazon.com/fr/blogs/architecture/create-dynamic-contact-forms-for-s3-static-websites-using-aws-lambda-amazon-api-gateway-and-amazon-ses/-->
    <form id="contact-form" method="post" class="form-signin">
      <div class="mb-2">
        <img alt="Logo cameroun" width="150" src="Armoiries_cameroun.svg" />
      </div>
      <h1 class="h5 font-weight-normal highlight">Vous venez de déposer votre passeport au consulat de Marseille ?</h1>
      <h2 class="h5 font-weight-normal highlight">On vous a dit regarder le site régulièrement et vous avez déjà trop de choses en tête &#128533;?</h2>
      <h2 class="h6 font-weight-normal">Nous pouvons vous aider en vous notifiant dès sa sortie &#128526;.</h2>
      <h3 class="h6 font-weight-normal">Pour cela rien de plus simple: Rentrez ici les informations requises*</h3>
      <b>NOTEZ BIEN </b>
      <svg
        data-html="true"
        tabindex="0"
        id="help"
        data-toggle="popover"
        data-trigger="focus"
        title="Important !"
        data-content="<p>Le nom doit être écrit pareil et dans le même ordre que commnuniqué au consulat</p>
                      <p>Liste des contraintes actuelles (vérifiez que vous n'entrez pas dans ces cas) qui ne sont pas supportés: </p>
                      <ol>
                        <li>Les noms comprenant le mot <b>vve</b></li>
                        <li>Les noms comprenant les accents circonflexes comme Benoît</li>
                        <li>Les noms comprenant les trémas comme Raïssa</li>
                        <li>Les noms comprenant qu'un seul mot </li>
                        <li>Les noms comprenant un mot se terminant par i comme Etoundi </li>
                        <li>Les noms comprenant des chiffres romains</li>
                      </ol>"
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="info-circle"
        class="svg-inline--fa fa-info-circle fa-w-16"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <path
          fill="currentColor"
          d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"
        ></path>
      </svg>
      <label for="input-name" class="sr-only">Name:</label>
      <input
        type="text"
        id="name-input"
        placeholder="Veuillez entrer votre nom …"
        style="text-transform: uppercase"
        class="form-control"
      />
      <br />
      <label for="inputEmail" class="sr-only">Email:</label>
      <input
        type="email"
        id="email-input"
        placeholder="Veuillez entrer votre adresse mail …"
        class="form-control"
      /><br />
      <div
        class="g-recaptcha"
        data-sitekey="6Lc7cVMUAAAAAM1yxf64wrmO8gvi8A1oQ_ead1ys"
      ></div>

      <!-- Link to open the modal -->
      <a href="#confirmationButton" onClick="controlFormData(event)">
        <button class="btn btn-lg btn-primary btn-block">Soumettre</button>
      </a>
      <b>* PROTECTION DES DONNEES </b>
      <svg
        data-html="true"
        tabindex="1"
        id="help2"
        data-toggle="popover"
        data-trigger="focus"
        title="Important !"
        data-content='<p> Nous nous engageons à protéger les informations personelles transmises: </p>
                      <ol>
                        <li>Celles-ci ne seront communiqués à aucun tiers et servent uniquement à vous envoyer votre notification</li>
                        <li>Une fois la notification envoyé, vos informations sont immédiatement supprimés, nous ne les conservons pas</li>
                      </ol>
                      <p> Comme preuve de bonne foi, le <b>code source est disponible en libre accès <a href="https://github.com/fabiolatagne97/mtchoun-mouh"> ici </a> </b>'
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="info-circle"
        class="svg-inline--fa fa-info-circle fa-w-16"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
          <path
            fill="currentColor"
            d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"
          ></path>
      </svg>

      <h3 class="h6 font-weight-normal">Vous pouvez aussi faire notre <a href="demo.html">demo </a> avant de vous lancer.
      </h3>

      <div class="mt-5">
        <img alt="Logo cameroun" width="150" src="Armoiries_de_Marseille.svg" />
      </div>
      <p class="mt-3 mb-3 text-muted">&copy; 2020 - <a href="https://gitreports.com/issue/fabiolatagne97/mtchoun-mouh">Contact</a></p>
    </form>

    <!-- Modal HTML embedded directly into document -->
    <div id="confirmationModal" class="modal">
      <h4
        style="
          width: 100%;
          heigth: 100px;
          margin: 0px;
          background-color: rgb(57, 66, 66);
          color: whitesmoke;
        "
      >
        Nous devons confirmer les informations précédentes.
      </h4>
      <div style="margin-top: 50px">
        <div class="form-group row">
          <label style="padding-left: 30px" for="input-name">Name:</label>
          <input
            type="text"
            name="confirmationName"
            class="form-control"
            id="confirmationName"
            onPaste="disablePaste(event)"
            placeholder="Veuillez resaisir votre nom..."
          />
          <div id="feedbackName" class="valid-feedback">Looks good!</div>
        </div>
        <div class="form-group row">
          <label style="padding-left: 30px" for="input-name">Email:</label>
          <input
            type="email"
            name="confirmationEmail"
            class="form-control"
            id="confirmationEmail"
            placeholder="Veuillez resaisir votre adresse mail..."
          />
        </div>
        <div id="feedbackEmail" class="valid-feedback">Looks good!</div>
      </div>
      <a href="#"
        ><button
          class="col-4 btn btn-lg btn-warning"
          onClick="submitToAPI(event)"
        >
          Confirm
        </button>
      </a>
    </div>

    <!-- Alert-error -->
    <div id="errorMessage" class="modal">
      <p>Content error</p>
    </div>
  </body>
</html>
